#reading-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  z-index: 9999;
  background: linear-gradient(
    to bottom,
    #a2d2ff,
    #83b3dd,
    #5c91bb,
    #376e99,
    #0f4c75,
    #06283d
  );
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.2s ease-out;
}
